{% extends 'base.html.twig' %}

{% block title %}Record index{% endblock %}

{% block body %}
    <h1>Record index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.year }}</td>
                <td>
                    <a href="{{ path('app_record_show', {'id': record.id}) }}">show</a>
                    <a href="{{ path('app_record_edit', {'id': record.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_record_new') }}">Create new</a>
{% endblock %}
