{% extends 'base.html.twig' %}

{% block title %}Record{% endblock %}

{% block body %}
    <h1>Record</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ record.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ record.name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ record.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_record_index') }}">back to list</a>

    <a href="{{ path('app_record_edit', {'id': record.id}) }}">edit</a>

    {{ include('record/_delete_form.html.twig') }}
{% endblock %}
